@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("assets/styles/fonts.css");

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', 'sans-serif';
}

body{
  font-family: Montserrat, serif;
}

.bg-secondary-grey {
  background-color: #f1f6ff80;
}

.add-percentage::after {
  content: '%';
}

.add-x::after {
  content: 'x';
}


.add-idr::before {
  content: 'IDR ';
}

.underline-under {
  text-underline-position: under
}


/* MODAL */
.bg-backdrop {
  background-color: hsla(0, 0%, 50%, 0.534);
}

.lock-scroll {
  overflow: hidden;
}

.dropbtn {
  color: white;
  border: none;
}

/* dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  margin-left: -450%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.dropdown-content-item {
  color: orange;
  padding: 12px 16px;
  display: flex;
}

.dropdown-content-item:hover{
  color: white;
  cursor: pointer;
  background-color: rgba(255, 102, 0, 50);
}

.dropdown-content p:nth-child(1):hover{
  border-top-left-radius: 12%;
  border-top-right-radius: 12%;
}

.dropdown-content p:nth-child(3):hover{

  background-color: rgba(255, 102, 0, 50);
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* toggle */
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle-checkbox {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.toggle-checkbox:after {
	content: '';
	position: absolute;
	top: 1.25px;
	left: 1.25px;
	width: 22.5px;
	height: 22.5px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #ff6600;
}

input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.toggle-checkbox:active:after {
	width: 32.5px;
}
