@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  font-family: 'Raleway', 'sans-serif';
}

.custom-img{
  background-image: url('./assets/images/hero-bg.jpg');
 background-position: center; 
}

.bg-secondary-grey{
  background-color: #f1f6ff80;
}

.add-percentage::after{
  content: '%';
}

.add-idr::before{
  content: 'IDR ';
}